.page {
    padding-top: 55px;
    background-color: rgba(230, 230, 230, .75);
}

.page.dark {
    background-color: rgba(10, 10, 10, .75);
    color: whitesmoke;
}

.card.dark {
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
}

.card-body.dark {
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
}

.card-header.dark {
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
}
