@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:200i,400,600&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inconsolata', monospace;
}

body, p, span {
    font-family: 'Montserrat', sans-serif;
}

i {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
