button {
    margin-left: 1em;
    margin-bottom: 1rem;
}
.footer {
    bottom: 0;
    text-align: center;
}
.light {
    background-color: rgba(230, 230, 230, .75)
}
.dark {
     background-color: rgba(10, 10, 10, .75)
 }
